/*--------------------------------------------------------------
>>> CONTENTS STYLES:
----------------------------------------------------------------
# Outline
# Info panel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# OUTLINE
--------------------------------------------------------------*/

.looper
{
    position: fixed !important;
    z-index: 2147483647 !important;

    display: none;

    box-sizing: border-box !important;

    transition: opacity .2s !important;
    pointer-events: none !important;

    opacity: 1 !important;
    box-shadow: inset 0 0 0 2px #000, inset 0 0 0 4px #fff !important;
}

.looper--visible
{
    display: block !important;
}

.looper--sleeping-mode
{
    opacity: 0 !important;
}


/*--------------------------------------------------------------
# INFO PANEL
--------------------------------------------------------------*/

.looper__info-panel
{
    font: 400 16px monospace !important;

    position: absolute !important;
    top: 16px !important;
    left: 16px !important;

    display: flex !important;

    width: 256px !important;
    padding: 16px !important;

    pointer-events: all !important;

    color: #fff !important;
    border: 1px solid rgba(255,255,255,.2) !important;
    background: rgba(0,0,0,.85) !important;

    align-items: center !important;
    justify-content: space-between !important;
    backdrop-filter: blur(8px) !important;
}

.looper__info-panel--collapsed
{
    visibility: hidden !important;

    backdrop-filter: none !important;
}

.looper__info-panel > div
{
    display: flex !important;

    justify-content: space-between !important;
    align-items: center !important;
}

.looper__progress-bar
{
    position: relative !important;

    height: 22px !important;
    margin: 8px 0 27px !important;

    flex: 1 !important;
}

.looper__progress-bar::before
{
    position: absolute !important;
    bottom: 0 !important;

    width: 100% !important;
    height: 3px !important;

    content: '' !important;
    pointer-events: none !important;

    background: rgba(255,255,255,.2) !important;
}

.looper-progress-bar__hover
{
    position: absolute !important;
    bottom: 0 !important;

    width: 0 !important;
    height: 3px !important;

    transition: opacity .15s !important;
    pointer-events: none !important;

    opacity: 0 !important;
    background: rgba(255,255,255,.5) !important;
}

.looper-progress-bar__play
{
    position: absolute !important;
    bottom: 0 !important;

    width: 0 !important;
    height: 3px !important;

    pointer-events: none !important;

    background: #e94a35 !important;
}

.looper__progress-bar-padding
{
    position: absolute !important;

    width: 100% !important;
    height: 100% !important;

    cursor: pointer !important;
}

.looper__button
{
    position: absolute !important;
    bottom: 0 !important;

    width: 0 !important;
    height: 3px !important;

    background: rgba(0,0,0,.5) !important;
}

.looper__button::before
{
    position: absolute !important;
    bottom: -4px !important;

    width: 13px !important;
    height: 13px !important;

    content: '' !important;
}

.looper__button::after
{
    position: absolute !important;
    bottom: -5px !important;

    width: 3px !important;
    height: 13px !important;

    content: '' !important;
    transition: background-color .1s !important;

    background: #ccc !important;
}

.looper__button::after:hover
{
    background: #e94a35 !important;
}

.looper__button-start-at
{
    left: 0 !important;
}

.looper__button-end-at
{
    right: 0 !important;
}

.looper__button-start-at::before
{
    right: -5px !important;
}

.looper__button-end-at::before
{
    left: -5px !important;
}

.looper__button-start-at::after
{
    right: 0 !important;
}

.looper__button-end-at::after
{
    left: 0 !important;
}

.looper__start-at,
.looper__end-at
{
    font: 400 14px monospace !important;

    position: absolute !important;

    width: 40px !important;
    height: 24px !important;
    padding: 0 !important;

    text-align: center !important;

    color: rgba(255,255,255,.8) !important;
    border: none !important;
    outline: none !important;
    background: rgba(0,0,0,.2) !important;
}

.looper__start-at
{
    right: -18px !important;
    bottom: 16px !important;
}

.looper__end-at
{
    top: 12px !important;
    left: -18px !important;
}





.looper__show-hide
{
    position: absolute !important;
    top: -8px !important;
    left: -8px !important;

    width: 16px !important;
    height: 16px !important;

    cursor: pointer !important;

    opacity: 0 !important;
    border-radius: 50% !important;
    background: #e6e6e6 !important;
    box-shadow: 0 0 1px 2px rgb(0,0,0,.1) !important;
}



.looper__info-panel--collapsed .looper__show-hide
{
    visibility: visible !important;

    opacity: 1 !important;
}

.looper__info-panel--collapsed .looper__show-hide > svg
{
    transform: rotate(180deg) !important;
}


.looper__drag-and-drop
{
    position: absolute !important;
    top: -8px !important;
    right: -8px !important;

    width: 16px !important;
    height: 16px !important;

    cursor: pointer !important;

    opacity: 0 !important;
    border-radius: 50% !important;
    background: #e6e6e6 !important;
    box-shadow: 0 0 1px 2px rgb(0,0,0,.1) !important;
}





.looper__info-panel:hover .looper__show-hide,
.looper__info-panel:hover .looper__drag-and-drop
{
    opacity: 1 !important;
}
